.navbar {
  background-color: #DF3837;
  font-family: Secular One;
}

.navbar .nav-link {
  color: #fff !important;
}

.Link {
  text-decoration: none;
  color: #fff;
}

.Link:hover {
  color: #222;
}

.loginPage {
  background: #DF3837; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DF3837, #AF0707); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DF3837, #AF0707); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Logo/Titulo */
 @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.logoBNI {
  font-style: bolder;
  font-weight: bolder;
  font-size: 60px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;

  margin-bottom: !important 0;

  color: #fff;
}

